<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title text-center mb-4">About the team</h1>
            <p class="bg-info text-danger text-center py-2 mb-4">Xinyi Shang</p>
            <p class="card-text">
              I'm a senior in Brandeis Univeristy majoring in biology and minor in computer science. In my spare time, I enjor painting and cooking. I developed this consulting app based on our FirstApp used in the COSI103 courses. 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>