<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title text-center mb-4">About the App</h1>
          <p class="bg-info text-danger text-center py-2 mb-4">Consulting App</p>
          <p class="card-text">
            This app employs ChatGPT as a consultant to provide personalized suggestions based on the user's input. With growing populations facing mental health issues, it can be difficult to schedule an appointment with a human consultant and even harder to share true feelings with a new consultant. ChatGPT, a strong AI with natural language processing capabilities, can fill this gap. Users can input their mood and any factors that influence it into the app, and ChatGPT responds with personalized advice. The app also stores a history of previous consultations, allowing users to refer back to previous suggestions.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
  
<br><br>
<a href="team">Meet the developer</a>
</div>
